@import "tailwindcss";

@theme {
  /* TechGuru কালারগুলো এখানে সেট করছি */
  --color-background: #080b13;
  --color-primary: #3065eb;
  --color-accent-yellow: #ffd600;
  --color-text-gray: #9faab7;
  
  /* এনিমেশন যোগ করছি */
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* কাস্টম স্টাইল */
:root {
  background-color: var(--color-background);
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}